%header
  %p.alert
    チャットグループが更新されました。

.chat
  .chat__side
    .chat__user
      %p たなか たいち
      .chat__side--edits
        %a{href: ""}
          =fa_icon "edit"
        %a{href: ""}
          =fa_icon "cog"

    %ul.chat__groups
      %li.chat__group
        %p.chat__group--name sample
        %p.chat__group--message good

  .main
    .main__header
      .main__header--group
        sample

      .main__header--member
        Members: たなかたいち
      %a.main__header--edit
        edit

    .main__body
      .main__body.clearfix
        .main__body--name
          たなかたいち
        .main__body--time
          2016/10/11 12:23:34
      .main__body--group
        sample

    .main__footer
      - if flash[:error].present?
        = flash[:error]
      -# %form.main__footer--message
      -# .main__footer--text
      -#   %textarea
      -#   %label.main__footer--file
      -#     %i.fa.fa-image
      -# %input{:type =>"submit",:name =>"commit",:value =>"Send",:data_disable_with =>"Send"}

      = form_for @message do |f|
        .main__footer--text
          = f.text_area :body
          %label.main__footer--file
            %i.fa.fa-image
        = f.submit :input





