
.chat
  .chat__side
    .chat__user
      %p
        = current_user.name
      .chat__side--edits
        =link_to edit_user_path(current_user) do
          =fa_icon "cog"
        =link_to new_group_path do
          =fa_icon "edit"

    %ul.chat__groups
      %li.chat__group
        - @groups.each do |group|
          %p.chat__group--name
            =link_to group_messages_path(group) do
              =group.name
          %p.chat__group--message
            =group.messages.last.body

  .main
    .main__header
      -# .main__header--group
      -#   = @group.name

      -# .main__header--member
      -#   -# - @group.users.each do |user|
      -#   Members:
      -#   = @group.users.name
      -#   .main__header--edit
      -#     =link_to edit_group_path(@group) do
      -#       edit

    #ajax.main__body
      -# - @group.messages.each do |message|
      -#   .main__body.clearfix
      -#     .main__body--name
      -#       = message.user.name
      -#     .main__body--time
      -#       = message.created_at
      -#   .main__body--group
      -#     = message.body

    .main__footer
      -# - if flash[:error].present?
      -#   = flash[:error]
        
      -# - if flash[:success].present?
      -#   = flash[:success]

      -# = form_for [@group,@message],id: "message-form" do |f|
      -#   .main__footer--text
      -#     = f.text_area :body,id:"message-body"
      -#     %label.main__footer--file
      -#       %i.fa.fa-image
      -#   = f.submit :input, id:"submit"

